Flask
Flask-CORS
Flask-SocketIO
python-socketio
python-engineio
google-generativeai
requests
python-dotenv
elevenlabs
PyAudio
websockets
sqlite3-lib
aiohttp
asyncio
json5
pydub
PyYAML
pytest
pytest-asyncio